h1{
    color: white;
    font-size: xx-large;
}
h2{
    columns: black;
    font-size: large;
}
p{
    columns: black;
    font-size: small;
}
blockquote{
    columns: white;
    font-size: x-large;
}
div{
    background-color: pink;
    align-content: center;
}